body{
    margin: 0;
}
header{
    text-align: center;
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
   
    margin: auto;
  
   
    box-shadow: 0 0 10vmax rgba(0, 0, 0, 0.418);
   background-color: black;
    color: antiquewhite;
    
    position: sticky;
    top: 0;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.women {
    /* border: 2px solid black; */
    background-image: radial-gradient(rgb(117, 117, 178),rgb(219, 17, 105));
     width: 20vmax; 
    height: 20vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 0 0 20px black;
    padding: 10px;
    transition: all 0.5s;
    cursor: pointer;
    margin:10px;
}
.women > img{
    
    width: 10vmax;
    height: 10vmax;
    /* border: 2px solid rgb(20, 220, 67); */   
}
.women>img:hover{
    opacity:0.5;
}
button{
    margin-left: 2%;
    width: 10vmax;
    padding: 10px;
    border-radius: 20px;
    background-color: crimson;
    color: white;
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    cursor: pointer;
}
button:hover{
    background-color: rgb(222, 99, 124);
}
.women:hover{
    transform:translate( -10px);
}
   